@media (max-width:1150px) and (min-width:280px) {
    html {
        scroll-behavior: smooth;
    }

    .navbar #nav {
        display: none;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .navbar .logo h1 {
        left: -28%;
    }

    .navbar #menu {

        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background: #202020;
        border-radius: 50%;
        border: #505050;
        position: relative;
        left: 5%;

    }

    .navbar #menu i {
        font-size: 25px;
        color: #fff;
        display: block;
    }

    #sidebar {
        display: block;
        position: absolute;
        position: fixed;
        top: 0;
        right: 0;
        width: 270px;
        height: 100%;
        background: #252525;
        padding: 20px;
        z-index: 10000;
        transform: translateX(400px);
        transition: 0.5s;
    }

    #sidebar #cross {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #202020;
        border: 1px solid #505050;
        font-size: 25px;
        color: #fff;
        cursor: pointer;
    }

    #sidebar ul li {
        padding: 15px;
        width: 90%;
        background: #202020;
        margin: 10px 0px;
        border-radius: 5px;
        border: 1px solid #505050;
    }

    #sidebar ul li a {
        text-decoration: none;
        color: #ffff;
    }
}




@media (max-width:1150px) and (min-width:280px) {
    #home {
        background: #121613;
    }

    #home #firstf p {
        position: relative;
        top: 100px;
        left: 5%;
        color: rgb(248, 225, 94);
        font-size: 0.6rem;
    }

    #home div h1 {
        position: relative;
        top: 100px;
        left: 5%;
        background: linear-gradient(to right, #fffefe, #bdb2b2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2.5rem;
        line-height: 50px;
        display: inline-block;
    }

    #home #secondf p {
        position: relative;
        top: 110px;
        left: 5%;
        width: 160px;
        color: #fff;
        line-height: 30px;
    }

    #home #bank img {
        height: 200px;
        width: 200px;
        position: absolute;
        top: 130px;
        left: -4%;
    }

    #home #secondf #btn button {
        padding: 10px 25px;
        position: relative;
        left: 5%;
    }
}

@media (max-width:1150px) and (min-width:290px) {

    #infoBox {
        height: 100%;
        width: 100%;
    }

    #infoBox #box-1 {
        height: 640px;
        width: 280px;
        padding: 20px;
        display: flex;
        flex-direction: row;
        border: 1px solid #3b3a3a;
        border-radius: 60px;
        gap: 20px;
        position: relative;
        top: 18px;
        left: 5%;
        background: #1d1b1b;
        box-shadow: 0px 5px 20px #0000002f
    }

    #infoBox #box-1 #speed {
        position: absolute;
        top: 30px;
    }

    #infoBox #box-1 #security {
        position: absolute;
        top: 200px;
        left: -3%;
    }

    #infoBox #box-1 #trans {
        position: absolute;
        top: 380px;
        left: -3%;
    }

    #infoBox #box-1 #inBox {
        position: absolute;
        top: 625px;
        height: 90px;
        width: 220px;
        left: 25%;
    }

    #infoBox #box-1 #inBox #img-1 {
        height: 50px;
        width: 40px;
    }

    #infoBox #box-1 #inBox #name {
        font-size: 7px;
    }

    #infoBox #box-1 #inBox p {
        font-size: 7px;
        position: absolute;
        left: 27%;
        top: 35px;
    }

    #infoBox #box-1 #inBox #img-2 {
        width: 70px;
        bottom: -12px;
    }

    #infoBox #box-2 {
        width: 280px;
        height: 450px;
        padding: 20px;
        border-radius: 60px;
        gap: 20px;
        position: relative;
        top: 85px;
        left: 5%;
        background: #1d1b1b;
        box-shadow: 0px 5px 20px #0000002f;
        border: 1px solid #3b3a3a;
    }

    #infoBox #box-2 #bag img {
        height: 170px;
        top: -50px;
        left: -25px;
    }

    #infoBox #box-2 #para {
        position: relative;
        left: -40%;
        top: 180px;
        width: 20cm;
    }

    #infoBox #box-2 #save {
        position: relative;
        top: 130px;
        left: -0%;
        height: 10px;
    }

    #infoBox #box-3 {
        width: 280px;
        height: 500px;
        padding: 20px;
        display: flex;
        top: 145px;
        left: 5%;
    }

    #infoBox #box-3 #para-2 {
        width: 245px;
    }

    #infoBox #box-3 #phone img {
        /* display: none; */
        height: 250px;
        position: absolute;
        top: 290px;
    }

    #infoBox #box-4 {
        /* display: none; */
        width: 280px;
        height: 500px;
        position: relative;
        top: 210px;
        left: 5%;
    }

    #infoBox #box-4 #para-3 {
        width: 250px;
    }

    #infoBox #box-4 #rocket img {
        height: 290px;
    }


}


@media (max-width:1150px) and (min-width:290px) {
    footer {
        width: 100%;
        height: 800px;
        background: #1d1b1b;
        position: relative;
        left: 0;
        top: 390px;
    }

    .footer-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 200px;
        position: relative;
        top: 80px;
    }

    #first {
        width: 100%;
        position: relative;
        left: 10%;
        gap: 20px;
        top: -80px;
        font-size: 1rem;
    }

    #first h3 {
        color: rgb(248, 225, 94);
        font-size: 1rem;
    }

    #first p {
        color: #fff;
        width: 125%;
        padding: 10px 0px;
        font-size: 1rem;
    }

    #second {
        width: 40%;
        position: relative;
        top: 80px;
        gap: 20px;
        right: 55%;
        font-size: 1rem;
    }

    #second h3 {
        color: rgb(248, 225, 94);
        display: inline-block;
        width: 120%;
        font-size: 1rem;
    }

    #second ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 1rem;
        width: 120px;
        display: inline-block;
    }



    .footer-section h3 {
        padding: 10px 0px;
        font-weight: 500;
        color: #181818;
        font-size: 1rem;
    }



    .footer-section ul li {
        list-style: none;
        font-size: 1rem;
    }

    .footer-section ul li a {
        color: #005354;
        font-size: 1rem;
    }



    .copyright {
        text-align: center;
        font-size: 18px;
        color: #fff;
        padding-top: 20px;
        padding-bottom: 20px;
        background: #121613;
        position: relative;
        top: 150px;

    }

    .lastdiv {
        padding-bottom: 80px;
    }

    .copyright p {
        font-weight: 400;
        font-size: 1rem;
    }

    .copyright span {
        color: rgb(248, 225, 94);
        font-weight: 500;
    }

}